<section class="section" style="background:var(--color-sand);">
  <div class="page-width" style="max-width:760px;">
    {%- comment -%}Content rendered by Shopify template{%- endcomment -%}
  </div>
</section>

{% schema %}
{
  "name": "account",
  "settings": []
}
{% endschema %}
